body {
  background-color: #ddd;
}

#topBar {
  height: 116px;
  margin: 0px;
  border: 8px solid #aaa;
  background-color: #eee;
}

.btn {
  margin-left: 10px;
  margin-top: 10px;
  padding: 0px;
  float: left;
  overflow: hidden;
}

.square {
  height: 80px;
  width: 80px;
}

.rect {
  height: 35px;
  width: 120px;
}

.tiny {
  height: 35px;
  width: 35px;
}

.micro {
  height: 24px;
  width: 24px;
  margin: 0px;
  padding: 12px;
}

.nano {
  height: 18px;
  width: 18px;
  margin: 0px;
  padding: 9px;
}

.buttonContainer {
  height: 100px;
  margin: 0px;
  padding: 0px;
  padding-right: 10px;
  float: left;
}

#homeBTN {
  background-image: url("images/collaborart_logo_small.png");
  background-position: center;
  border-color: #eee;
}

#navigation {
  width: 240px;
  border-right: 8px solid #aaa;
  background-color: #none;
}

.rect span {
  float: right;
  margin-right: 10px;
}

#colors, #RGBsliders, #HSVsliders, #colorPicker {
  background-color: none;
}

#colors {
  width: 100px;
  border-right: 0px;
}

.sliders {
  width: 140px;
  height: 100px;
  padding-top: 10px;
}

.sliders form {
  margin: 0px;
  padding: 0px;
  clear: left;
}

.sliders form input {
  width: 50px;
  margin-left: 10px;
  padding: 0px;
  float: left;
}

.sliders form p {
  float: left;
  width: 10px;
  font-family: Calibri;
}

#primaryColor {
  position: relative;
  top: -45px;
  left: 10px;
  width: 55px;
  height: 55px;
  border: 2px #fafafa solid;
  outline: 3px #aaa solid;
  background-color: rgb(0,0,0);
  z-index: 2;
}

#secondaryColor {
  position: relative;
  top: 35px;
  left: 35px;
  width: 55px;
  height: 55px;
  border: 2px #fafafa solid;
  outline: 3px #aaa solid;
  background-color: rgb(0,0,255);
  z-index: 1;
}

#colorPicker {
  width: 100px;
}

#colorPicker canvas {
  width: 84x;
  height: 84px;
  background-color: #fff;
  margin-left: 4px;
  margin-top: 10px;
  padding: 0px;
  border: 1px solid #aaa;
  cursor: crosshair;
}

#toolOptions {
  width: 320px;
  border-right: 8px solid #aaa;
  border-left: 8px solid #aaa;
}

#export {
  width: 150px;
  border-right: 8px solid #aaa;
}

#sharing {
  width: 200px;
  border-right: 8px solid #aaa;
}

#sharing p {
  height: 25px;
  margin: 0px;
  margin-left: 10px;
  margin-top: 20px;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  font-family: Tahoma;
  font-weight: 700;
}

#sideBar {
  position: absolute;
  width: 108px;
  top: 121px;
  left: 5px;
  text-align: center;
  background-color: #ddd;
  border: 4px solid #aaa;
  padding-bottom: 10px;
  z-index: 5;
}

#layersBar {
  position: absolute;
  width: 133px;
  top: 121px;
  right: 5px;
  background-color: #ddd;
  border: 4px solid #aaa;
  z-index: 5;
}

#sideBarHandle, #layersBarHandle {
  height: 15px;
  background-color: #bbb;
  cursor: pointer;
}

#sideBar .btn:focus {
  outline: none;
}

#canvasContainer {
  width: 100%;
  text-align: center;
}

#canvasContainer input {
  width: 50px;
  height: 30px;
  display: inline;
  text-align: center;
  padding: 0px;
  margin: 0px;
  margin-top: 5px;
  appearance: none;
  font-weight: 700;
  z-index: 6;
  position: relative;
}

#layerOptions input::-webkit-outer-spin-button,
#layerOptions input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#canvasContainer input::-webkit-outer-spin-button,
#canvasContainer input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#canvasContainer p {
  display: inline;
  text-align: center;
  line-height: 30px;
  margin-left: 3px;
  margin-right: 3px;
}

#mainCanvas {
  display: inline;
  background-color: #fff;
  width: 1080px;
  height: 600px;
  margin: 0px;
  padding: 0px;
  z-index: 1;
}

#canvasResize {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 32px;
  height: 32px;
  padding: 0px;
  margin: 0px;
  z-index: 0;
  background-image: url("images/resizeIcon.png");
}

#layerOptions {
  width: 125px;
  text-align: center;
  background-color: #eee;
  padding-bottom: 5px;
  padding-top: 1px;
  margin: 0px;
  border-bottom: 4px solid #aaa;
}

#layerOptions input, #layerOptions select {
  font-family: Calibri;
  text-align: center;
}

#layerName, #layerBlend {
  width: 115px;
  margin: 5px;
  margin-bottom: 0px;
  padding: 0px;
  height: 21px;
}

#layerOpacityNumber {
  width: 30px;
  margin: 5px;
  padding: 0px;
  float: left;
  height: 21px;
}

#layerOpacitySlider {
  width: 80px;
  padding: 0px;
  margin: 5px;
}

#layerList {
  height: 400px;
  overflow: scroll;
  margin: 0px;
  padding: 0px;
}

#layerList .btn-group-vertical {
  float: left;
  margin: 5px;
  padding: 0px;
}

#layerList .btn-group {
  margin: 5px;
  margin-top: 0px;
  padding: 0px;
}

#layerList span {
  text-align: center;
  width: 89px;
  margin-left: 5px;
  margin-right: 5px;
  display: block;
  line-height: 58px;
}

#layerList span:hover {
  cursor: pointer;
}

.layer {
  margin: 0px;
  padding: 0px;
  background-color: #eee;
  border-bottom: 4px solid #ccc;
}