body {
	padding-top: 100px;
}

#homepage_logged_out {
	background-image: url('./images/homepage_logged_out.png');
	background-repeat: no-repeat;
	background-position: center 10%;
	background-size: cover;
}

#homepage_logged_in {
	background-image: url('./images/splatter.png');
	background-repeat: no-repeat;
	background-position: center 10%;
	background-size: cover;
}

#my_account {
	background-image: url('./images/splatter.png');
	background-repeat: no-repeat;
	background-position: center 10%;
	background-size: cover;
}

.canvas_text {
	background-image: url('./images/background_canvas.png');
	background-repeat: no-repeat;
	background-position: center;
}


h1 {
	font-size: 400%;
	text-align: center;
}

.background_canvas {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	border-color: black;
}

p {
	font-family: 'Fjalla One', sans-serif;
}

::-webkit-scrollbar {
    width: 14px;
    height: 18px;
}

::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

.delete_button_overlay {
	z-index: 100;
	position: absolute;
	text-align: right;
	display: block;
	left: 84%;
	color: white;
	font-size: 120%;
	top: 5px;
}

.duplicate_button_overlay {
	z-index: 100;
	position: absolute;
	text-align: right;
	display: block;
	left: 84%;
	color: white;
	top: 30px;
	font-size: 120%
}

.drawing_label {
	font-family: 'Fjalla One', sans-serif;
	color: white;
	padding: 5%;
	background: rgba(0, 0, 0, 0.6);
	text-align: center;
	display: block;
	letter-spacing: 1px;
	font-size: 140%;
}

.thumbnail_grid {
  	max-height: 600px;
  	overflow-y: auto;
  	overflow-x: hidden;
}

button {
	background: rgba(0, 0, 0, 0.6);
	border: 1px solid #FFFFFF;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}